proyectos-xml-main/XSD and XML/Ejemplo_simples/Elementos-simples.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="elementos-simples">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="cadena" type="xs:string" />
            <xs:element name="enteropositivo" type="xs:positiveInteger" />
            <xs:element name="enteronegativo" type="xs:nonNegativeInteger" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>