proyectos-xml-main/xml/ejemplo-pag-204/ejemplo_simples.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ejemplos_simples">
        <xs:complexType>
           <xs:sequence>
               <xs:element name="cadena" type="xs:string"/>
               <xs:element name="enteropositio" type="xs:positiveInteger" default="1"/>
               <xs:element name="enteronegativo" type="xs:nonNegativeInteger" default="0"/>


          </xs:sequence>

        </xs:complexType>
        
    </xs:element>
</xs:schema>